.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] 100px [break-start] 100px [content-start] 1fr [content-end] 100px [break-end] 100px [full-width-end];
}
.content-grid > * {
  grid-column: content;
}
.content-grid > .breakout {
  grid-column: breakout;
}
.content-grid > .full-width {
  grid-column: full-width;
}
