body {
  font-family: sans-serif;
}
/* root layout */
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}
/* header & footer */
.header {
  height: 180px;
  padding-block: 10px;
  background-color: #fefae0;
}
.footer {
  height: 180px;
  padding-block: 10px;
  background-color: #fefae0;
}
/* button */
.text-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}
.text-button:hover {
  color: #dda15e;
}
/* title */
.main-title {
  font-size: clamp(50px, 5vw, 70px);
}
.second-title {
  font-size: clamp(28px, 2.8vw, 40px);
}
/* animation */
.floating-up-down {
  animation: floatAnimation 3s ease-in-out infinite;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating-up-down:hover {
  animation: none; /* Stop the floating animation on hover */
  color: #dda15e; /* Change the color on hover */
}
