/* root layout */
.content-grid {
  display: grid;
  grid-template-columns: [full-width-start] 100px [breakout-start] 100px [content-start] 1fr [content-end] 100px [breakout-end] 100px [full-width-end];
}
.content-grid > * {
  grid-column: content;
}
.content-grid > .breakout {
  grid-column: breakout;
}
.content-grid > .full-width {
  grid-column: full-width;
}
/* header & footer */
.header {
  height: 180px;
  padding-block: 10px;
}
.footer {
  height: 180px;
  padding-block: 10px;
}
/* buttons */
.text-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.text-button:hover {
  color: red;
}
/* titles */
.main-title {
  font-size: clamp(50px, 5vw, 70px);
}
.second-title {
  font-size: clamp(30px, 2.5vw, 50px);
}
